<div id="appCapsule">
<div class="wide-block">
                <!-- timeline -->
                <div class="timeline">
                    <div class="item">
                        <div class="dot"></div>
                        <div class="content">
                            <h4 class="title">Call John</h4>
                            <div class="text">Talk about the project</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot bg-danger"></div>
                        <div class="content">
                            <h4 class="title">Meetings with Team</h4>
                            <div class="text">
                                <img src="assets/img/sample/avatar/avatar1.jpg" alt="avatar" class="imaged w24 rounded">
                                <img src="assets/img/sample/avatar/avatar2.jpg" alt="avatar" class="imaged w24 rounded">
                                <img src="assets/img/sample/avatar/avatar3.jpg" alt="avatar" class="imaged w24 rounded">
                                <img src="assets/img/sample/avatar/avatar4.jpg" alt="avatar" class="imaged w24 rounded">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot bg-warning"></div>
                        <div class="content">
                            <h4 class="title">Buy a Birthday Cake</h4>
                            <div class="text">Remind the birthday party at Hollison</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot"></div>
                        <div class="content">
                            <h4 class="title">Call John</h4>
                            <div class="text">Talk about the project</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot bg-info"></div>
                        <div class="content">
                            <h4 class="title">New Release</h4>
                            <div class="text">Export the version 2.3</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot bg-warning"></div>
                        <div class="content">
                            <h4 class="title">Buy a Birthday Cake</h4>
                            <div class="text">Remind the birthday party at Hollison</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot"></div>
                        <div class="content">
                            <h4 class="title">Call John</h4>
                            <div class="text">Talk about the project</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot bg-info"></div>
                        <div class="content">
                            <h4 class="title">New Release</h4>
                            <div class="text">Export the version 2.3</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot bg-warning"></div>
                        <div class="content">
                            <h4 class="title">Buy a Birthday Cake</h4>
                            <div class="text">Remind the birthday party at Hollison</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot"></div>
                        <div class="content">
                            <h4 class="title">Call John</h4>
                            <div class="text">Talk about the project</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot bg-info"></div>
                        <div class="content">
                            <h4 class="title">New Release</h4>
                            <div class="text">Export the version 2.3</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot bg-warning"></div>
                        <div class="content">
                            <h4 class="title">Buy a Birthday Cake</h4>
                            <div class="text">Remind the birthday party at Hollison</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot"></div>
                        <div class="content">
                            <h4 class="title">Call John</h4>
                            <div class="text">Talk about the project</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="dot bg-info"></div>
                        <div class="content">
                            <h4 class="title">New Release</h4>
                            <div class="text">Export the version 2.3</div>
                        </div>
                    </div>
                </div>
                <!-- * timeline -->
            </div>
            </div>