<div id="appCapsule">
    <div class="section mt-2">
        <div class="card text-center">
            <div class="card-header">
                {{randomUserUserName}}
            </div>
        </div>
    </div>
    <div class="section mt-2">
        <img src="assets/img/sample/photo/1.jpg" alt="image" class="imaged img-fluid">
    </div>
    <div class="section mt-2">
        <div class="card text-center">
            <div class="card-body" style="margin:0px;padding:0px;">
                <div class="modal-footer" style="display: block;">
                    <div class="btn-inline">
                        <a href="/random" class="btn btn-text-danger">
                            <ion-icon name="close-circle-outline" role="img" class="md hydrated" aria-label="close circle outline">
                            </ion-icon>
                            Geç
                        </a>
                        <a href="/random-sohbet-basla/{{randomUserUserId}}" class="btn btn-text-primary">
                            <ion-icon name="chatbox-ellipses-outline" role="img" class="md hydrated" aria-label="chatbox ellipses outline">
                            </ion-icon>
                            Mesaj At
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section mt-2 mb-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Hemen mesaj at</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer text-muted">
                <div class="chip chip-media">
                    <i class="chip-icon bg-warning">
                        <ion-icon name="add-circle-outline" role="img" class="md hydrated" aria-label="alarm outline">
                        </ion-icon>
                    </i>
                    <span class="chip-label">Premium Üye</span>
                </div>
            </div>
        </div>
    </div>
</div>